{% extends "base.html" %}


<p>&nbsp;</p>


{% block javascript %}
<script>
  /*
  window.onload = function() {
    if (window.jQuery) {
        // jQuery is loaded
        alert("Yeah!");
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }
}*/

  $("#id_appname").change(function () {
    var appname = $(this).val();
    //alert(appname);

    $.ajax({
      url: 'ajax/getenv/',
      data: {
        'appname': appname
      },
      dataType: 'json',
      success: function (data) {
        $('#id_envname')
              .find('option')
              .remove()
              .end()
              .append('<option value="" selected>---</option>');
        $.each(data, function(k,v){
          //alert(k + "= "+ v);
          $.each(v["fields"], function(key,val){
            if(key == "name"){
            $('#id_envname')
              .append('<option value="' + val +'">'+ val + '</option>');
              //.val('whatever');
            }
            //alert(key + ": " + val);
          });
        });
        //alert(data);
      }
    });
  });
</script>
{% endblock %}


{% block content %}




<a href="{% url 'aws:createapp' %}"><button class="button2">Create App</button></a>
<a href="{% url 'aws:manageapp' %}"><button class="button2">Manage App</button></a>

<p>&nbsp;</p>





<form method="POST">


{{form.as_p}}
      <table>
        <tr>
          <th style="text-align:center">Select</th>
          <th style="text-align:center">Agent ID</th>
          <th style="text-align:center">Configuration ID</th>
          <th style="text-align:center">Host Name</th>
          <th style="text-align:center">OS Name</th>
          <th style="text-align:center">OS Version</th>
          <th style="text-align:center">Source</th>
          <th style="text-align:center">Time of Creation</th>
          <th style="text-align:center">Type</th>
        </tr>

        {% for app in server %}
        <tr>

          <td>
            <input type="checkbox" name="serverId" value="{{ app.configurationId }}">
          </td>
          <td style="text-align:center">{{ app.agentId }}</td>
          <td style="text-align:center">{{ app.configurationId }}</td>
          <td style="text-align:center">{{ app.hostName }}</td>
          <td style="text-align:center">{{ app.osName }}</td>
          <td style="text-align:center">{{ app.osVersion }}</td>
          <td style="text-align:center">{{ app.source }}</td>
          <td style="text-align:center">{{ app.timeOfCreation }}</td>
          <td style="text-align:center">{{ app.type }}</td>


        </tr>
        {% endfor %}

      </table>

<p>&nbsp;</p>



      {% csrf_token %}
      <input type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" name="" value="Create App">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="alert alert-success alert-dismissible">
                <a  class="close" data-dismiss="modal" aria-label="close">&times;</a>
                <strong>Success!</strong> App information stored Successfully.
              </div>
        </div>
      </div>

      </form>

      <p>&nbsp;</p>

      <p>&nbsp;</p>



{% endblock %}
