{% extends "base.html" %}
{% block content %}

<p>&nbsp;</p>

<a href="{% url 'aws:createmigrations' %}"><button class="button2">Create Migrations</button></a>
<a href="{% url 'aws:managemigrations' %}"><button class="button2">Manage Migrations</button></a>

<p>&nbsp;</p>

<form method="POST">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" name="" value="submit">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="alert alert-success alert-dismissible">
                <a  class="close" data-dismiss="modal" aria-label="close">&times;</a>
                <strong>Success!</strong> App information stored Successfully.
              </div>
        </div>
      </div>

      </form>

      <p>&nbsp;</p>

      <p>&nbsp;</p>



{% endblock %}




{% block javascript %}
<script>
  window.onload = function() {
    if (window.jQuery) {
        // jQuery is loaded
        //alert("Yeah!");
        $('#id_env_name').prop("disabled",true);
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }
}

  $("#id_app_name").change(function () {
    var appname = $(this).val();
    //alert(appname);
    $('#id_env_name').prop("disabled",false);

    $.ajax({
      url: '/aws/ajax/getenv/',
      data: {
        'appname': appname
      },
      dataType: 'json',
      success: function (data) {
        //alert(data);
        $('#id_env_name')
              .find('option')
              .remove()
              .end()
              .append('<option value="" selected>---</option>');
        $.each(data, function(k,v){
            $('#id_env_name')
              .append('<option value="' + v +'">'+ v + '</option>');
        });

      }
    });
  });










  $("#id_env_name").change(function () {
    var appname = $(this).val();
    //alert(appname);

    $.ajax({
      url: '/aws/ajax/getrdsdb/',
      data: {
        'appname': appname
      },
      dataType: 'text',
      success: function (data) {
        //alert(data);

        $('#id_destination_db').val(data);

        //alert(data);
      }
    });
  });












</script>
{% endblock %}
