{% extends "base.html" %}



{% block content %}
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="server_table">


<table>
  <tr>
    <th style="text-align:center">Configuration ID</th>
    <th style="text-align:center">Description</th>
    <th style="text-align:center">Last Modified Date</th>
    <th style="text-align:center">Name</th>
    <th style="text-align:center">Server Count</th>
    <th style="text-align:center">Time of Creation</th>
    <th style="text-align:center">Status</th>
  </tr>

  {% for apps in aws_response %}
  <tr>

    {% for k,v in apps.items %}
    <td style="text-align:center">{{ v }}</td>
    {% endfor %}

  </tr>
  {% endfor %}

</table>


</div>



{% endblock %}
