{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">




      <!-- Content Row -->
      <div class="row">

              <div class="flip-card">
                <a href="{% url 'aws:createapp' %}">
             <div class="flip-card-inner">
               <div class="flip-card-front">

                 <h1>MANAGE</h1>
                 <h2>Apps</h2>
                 <br>
                 <br>
                 <br>
                 <img src="/static/images/1.png" alt="">


               </div>
               <div class="flip-card-back">
                 <h1>AWS Database Migration Service helps you migrate databases to AWS quickly and securely.</h1>

               </div>
             </div>
             </a>
            </div>

            <div class="flip-card">
              <a href="{% url 'aws:createenv' %}">
           <div class="flip-card-inner">
             <div class="flip-card-front">
               <h1>INFRA</h1>
               <h2>SERVICES</h2>
               <br>
               <br>
               <br>
               <img src="/static/images/2.png" alt="">

             </div>
             <div class="flip-card-back">
               <h1>INFO of Infra Services</h1>

             </div>
           </div>
           </a>
          </div>

          <div class="flip-card">
            <a href="{% url 'aws:createmigrations' %}">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h1>MIGRATION</h1>
                <h2>SERVICES</h2>
                <br>
                <br>
                <br>
                <img src="/static/images/3.png" alt="">
              </div>
              <div class="flip-card-back">
              <h1>INFO of MIGRATION SERVICES</h1>
           </div>
         </div>
         </a>
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}
