{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">




      <!-- Content Row -->
      <div class="row">

              <div class="flip-card">
                <a href="{% url 'aws:createapp' %}">
             <div class="flip-card-inner">
               <div class="flip-card-front">

                 <h1>MANAGE</h1>
                 <p>APPS</p>


               </div>
               <div class="flip-card-back">
                 <h1>AWS Database Migration Service helps you migrate databases to AWS quickly and securely.</h1>

               </div>
             </div>
             </a>
            </div>

            <div class="flip-card">
              <a href="{% url 'aws:createenv' %}">
           <div class="flip-card-inner">
             <div class="flip-card-front">
               <h1>INFRA</h1>
               <p>SERVICES</p>

             </div>
             <div class="flip-card-back">
               <h1>INFO</h1>
               <p>OF</p>
               <p>INFRA SERVICES</p>
             </div>
           </div>
           </a>
          </div>

          <div class="flip-card">
            <a href="{% url 'aws:createmigrations' %}">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <h1>MIGRATION</h1>
                <p>SERVICES</p>
              </div>
              <div class="flip-card-back">
              <h1>INFO</h1>
             <p>OF</p>
             <p>MIGRATION SERVICES</p>
           </div>
         </div>
         </a>
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}
