{% extends 'base.html' %}
{% block javascript %}
<script>
  /*
  window.onload = function() {
    if (window.jQuery) {
        // jQuery is loaded
        alert("Yeah!");
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }
}*/

  $("#id_appname").change(function () {
    var appname = $(this).val();
    //alert(appname);

    $.ajax({
      url: 'ajax/getenv/',
      data: {
        'appname': appname
      },
      dataType: 'json',
      success: function (data) {
        $('#id_envname')
              .find('option')
              .remove()
              .end()
              .append('<option value="" selected>---</option>');
        $.each(data, function(k,v){
          //alert(k + "= "+ v);
          $.each(v["fields"], function(key,val){
            if(key == "name"){
            $('#id_envname')
              .append('<option value="' + val +'">'+ val + '</option>');
              //.val('whatever');
            }
            //alert(key + ": " + val);
          });
        });
        //alert(data);
      }
    });
  });
</script>
{% endblock %}


{% block content %}

<a href="{% url 'aws:createenv' %}"><button class="button2">Create ENV</button></a>
<a href="{% url 'aws:manageenv' %}"><button class="button2">Manage ENV</button></a>

<p>&nbsp;</p>
<ul class="progressbar">
  <li class="done">Compute</li>
  <li class="done">Database</li>
  <li class="active">CICD</li>
</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="background-color:skyblue;margin-bottom: 20px;padding: 15px;width: 80%">Create CICD</h2>
   <form method="POST">
       {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="submit">
   </form>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   {% endblock %}
