{% extends 'base.html' %}
{{% block javascript %}
<script>
  /*
  window.onload = function() {
    if (window.jQuery) {
        // jQuery is loaded
        alert("Yeah!");
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }
}*/

  $("#id_appname").change(function () {
    var appname = $(this).val();
    //alert(appname);

    $.ajax({
      url: 'ajax/getenv/',
      data: {
        'appname': appname
      },
      dataType: 'json',
      success: function (data) {
        $('#id_envname')
              .find('option')
              .remove()
              .end()
              .append('<option value="" selected>---</option>');
        $.each(data, function(k,v){
          //alert(k + "= "+ v);
          $.each(v["fields"], function(key,val){
            if(key == "name"){
            $('#id_envname')
              .append('<option value="' + val +'">'+ val + '</option>');
              //.val('whatever');
            }
            //alert(key + ": " + val);
          });
        });
        //alert(data);
      }
    });
  });
</script>
{% endblock %}


{% block content %}

<ol class="progress" data-steps="4">
    <li class="done">
        <span class="name">Compute</span>
        <span class="step"><span>1</span></span>
    </li>
    <li class="active">
        <span class="name">Database</span>
        <span class="step"><span>2</span></span>
    </li>
    <li class="done">
        <span class="name">CICD</span>
        <span class="step"><span>3</span></span>
    </li>
    <li>
        <span class="name">Quux</span>
        <span class="step"><span>4</span></span>
    </li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
   <form method="POST">
       {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="submit">
   </form>
   {% endblock %}
